* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  background-color: rgb(230, 230, 230);
}

h1 {
  font-size: 2rem;
  align-self: center;
}

.loader {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(25, 25, 25);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  border: none;
  background: none;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 2rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

button:active {
  opacity: 1;
}

#answer-button {
  background-color: rgb(25, 25, 25);
}

#clear-button {
  display: none;
  background-color: rgb(220, 50, 50);
}

#select-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  display: none;
}

.loading-container {
  display: flex;
  gap: 1rem;
}

.loading-container span {
  font-size: large;
  font-weight: 400;
}

#question-container,
#context-container,
#answer-container {
  align-self: stretch;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem;
}

#context-container,
#answer-container {
  display: none;
}

textarea {
  height: 150px;
  resize: none;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  font-size: large;
  outline: none;
}

#context-container textarea,
#answer-container textarea {
  height: 200px;
}

#generate-button,
#regenerate-button {
  background-color: rgb(0, 96, 250);
  display: none;
}

#fill-button {
  background-color: rgb(0, 154, 59);
  display: none;
}

#generating-container {
  display: none;
  align-self: center;
}
